.socials{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: rgb(117, 154, 180);
  width: 700px;
}

.social-links{
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
